.tit {
  /* border-bottom: 2px solid; */
  font-weight: bold;
  color: #1976D2;
  font-size: 1em;
}

.myHeading {
  font-weight: bold;
  color: cornflowerblue;
}

.subtit {
  border-bottom: 1px solid;
  font-weight: bold;
  color: #1E88E5;
}

.v-icon.outlined {
  border: 1px solid currentColor;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}

body::-webkit-scrollbar {
  display: none;
}

.subtit2 {
  font-weight: bold;
  color: #1976D2;
  font-size: 14px;
}

@font-face {
  font-family: 'Lucida Handwriting';
  src: url('./Lucida Handwriting Italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  