.tit {
  /* border-bottom: 2px solid; */
  font-weight: bold;
  color: #1976D2;
  font-size: 1em;
}

.myHeading {
  font-weight: bold;
  color: cornflowerblue;
}

.subtit {
  border-bottom: 1px solid;
  font-weight: bold;
  color: #1E88E5;
}

.v-icon.outlined {
  border: 1px solid currentColor;
  border-radius: 50%;
  height: 56px;
  width: 56px;
}

body::-webkit-scrollbar {
  display: none;
}

.subtit2 {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

@font-face {
  font-family: 'Lucida Handwriting';
  src: url('./Lucida Handwriting Italic.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

.dx-header-row {
  font-weight: bold;
  color: #ff5252!important;
}

.el-collapse-item__header {
  font-weight: bold;
}

.myNumeric {
  border-bottom: thin solid rgba(0,0,0,.42);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  padding-top: 9px;
  width: 100%;
  height: 27px;
  text-align: center;
}

.myNumeric:focus {
  outline: none;
  border-bottom-color: #ff5252;
  border-bottom-width: 2px;
}

.notAllowed {
  cursor: not-allowed;
}